# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.env.*

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# CrewAI / project outputs
./portfolio_recommendation.md

./src/ai_advisor/__pycache__
